.hero-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000300;
    color: white;
    height: 100vh;
}

.hero-container-2 {
    text-align: center;
}

.hero-para {
    color: #00df9a;
    font-weight: bold;
    /* padding: 2px; */
}

.typed-para {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.react-typed {
    display: inline-block;
    vertical-align: middle;
}

.typed-text-hero {
    display: flex;
    justify-content: center;
    align-content: center;
    /* padding: 2px; */
}

.hero-button {
    width: 60%;
    height: 35px;
    background-color: #00df9a;
    color: white;
    border-radius: 15px;
    border: none;
    font-size: larger;
    cursor: pointer;
}


@media only screen and (max-width: 850px) {
    .hero-button {
        width: 60%;
        height: 35px;
    }
}

@media only screen and (max-width: 550px) {
    .hero-container-2 {
        text-align: center;
    }
}

