.main-cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: black;
    height: 100vh;
    /* width: 100%; */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.card-container {
    padding: 1rem;
    margin: 1rem;
    width: 26%;
    /* gap: 20px; */
    height: 325px;
    text-align: center;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.card-container:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
}

.card-inside-div {
    display: flex;
    justify-content: center;
}

.card-image {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.cards-btn {
    background-color: #00df9a;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: medium;
    width: auto;
    height: 35px;
    width: 80%;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {

    .main-cards-container {
        justify-content: center;
        height: auto;
        flex-direction: column;
    }

    .card-container{
        width: 70%;
    }
    .card-container:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 550px) {
    .main-cards-container {
        height: auto;
        flex-direction: column;
    }

    .card-container{
        width: 50%;
    }

    .card-container:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.05);
    }

}

/* @media only screen and (max-width : 375px) {
    .main-cards-container {
        height: auto;
        flex-direction: column;
    }
} */