.main-cards-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: white;
    color: black;
    height: 100vh;

}

.card-container {
    width: 28%;
    gap: 20px;
    padding: 16px;
    height: 350px;
    text-align: center;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.card-container:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
}

.card-inside-div {
    display: flex;
    justify-content: center;
}

.card-image {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.cards-btn {
    background-color: #00df9a;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: medium;
    width: auto;
    height: 35px;
    width: 180px;
}

@media only screen and (max-width: 768px) {

    .main-cards-container {
        display: flex;
        justify-content: center;
        padding: 16px;
        background-color: white;
        color: black;
        height: auto;
        flex-direction: column;
    }

    .card-container {
        width: 80%;
        margin: 0 auto;
        padding: 16px;
        height: 350px;
        text-align: center;
        box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        transition: transform 0.3s ease-in-out;
    }

    .card-container:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.1);
    }

    .card-inside-div {
        display: flex;
        justify-content: center;
    }

    .card-image {
        width: 50px;
        height: 50px;
    }

    .cards-btn {
        background-color: #00df9a;
        color: black;
        border-radius: 5px;
        border: none;
        font-size: medium;
        width: 80px;
        height: 35px;
        width: 180px;
    }

}

@media only screen and (max-width: 576px) {

    .main-cards-container {
        display: flex;
        justify-content: center;
        padding: 16px;
        background-color: white;
        color: black;
        height: auto;
        flex-direction: column;
    }

    .card-container {
        width: 80%;
        margin: 0 auto;
        padding: 16px;
        height: 350px;
        text-align: center;
        box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        transition: transform 0.3s ease-in-out;
    }

    .card-container:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.05);
    }

    .card-inside-div {
        display: flex;
        justify-content: center;
    }

    .card-image {
        width: 50px;
        height: 50px;
    }

    .cards-btn {
        background-color: #00df9a;
        color: black;
        border-radius: 5px;
        border: none;
        font-size: medium;
        width: 80px;
        height: 35px;
        width: 180px;
    }

}