.analytics-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    height: 100vh;
    color: black;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.analytics-with-image {
    background-color: white;
}

.analytics-second {
    text-align: left;
}

.laptop-image {
    width: 500px;
    height: auto;
    border-radius: 5px;
}

.analytics-para {
    color: #00df9a;
    font-weight: bold;
    padding: 2px;
}

.analytics-btn {
    width: 40%;
    height: 35px;
    color: #00df9a;
    background-color: black;
    border-radius: 15px;
    border: none;
    font-size: larger;
    text-align: center;
    cursor: pointer;
}

.analytics-btn-div {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 850px) {
    .analytics-main {
        height: 100vh;
        flex-direction: column;
        margin: 0;
        padding-top:2.5rem ;
        padding-bottom:2.5rem;
    }

    .analytics-with-image {
        display: flex;
        justify-content: center;
    }

    .analytics-second {
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .analytics-btn{
        height: 35px;
    }
}


@media only screen and (max-width: 550px) {
    .analytics-main {
        height: auto;
        flex-direction: column;
        margin: 0;
    }

    .analytics-with-image {
        width: 75%;
    }

    .analytics-second {
        width: 75%;
    }

    .laptop-image {
        width: 350px;
        height: auto;
    }
}

@media only screen and (max-width : 375px) {
  

   
}