.navbar-main {
    background-color: #000300;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar-ul {
    list-style-type:none;
    float:right;
}

.navbar-ul li{
    padding: 4px;
    margin-left: 16px;
    float: left;
}

.navbar-icon{
    display: none;

}

.navbar-heading {
    display: flex;
    align-items: center;
    margin-left: 1%;
    float: left;
}

.navbar-heading h1 {
    
    font-size: larger;
    font-weight: bolder;
    color: #00df9a;
    margin: 0;
}
@media (max-width: 768px){

    .navbar-ul-responsive {
        display: flex;
        flex-direction: column;
        transition: transform ease-in-out 0.3s;
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
        width: 35%;
        
    }
    
    .navbar-ul-responsive-show {
        z-index: 999;
        transform: translateX(0);
        position: fixed;
        width: auto;
        background-color: #000300;
        min-height: 100vh;
        width: 35%;
      
    }
    
    .navbar-ul-responsive-show ul {
        list-style-type: none;
        padding: 8px;
        width: 60%;
        top: 0;
        left: 0;
    
    }
    
    .navbar-ul-responsive-show li {
        padding: 8px;
        border-bottom: 1px solid grey;
    }
    
    .navbar-icon {
        padding: 8px;
    }

    .navbar-main {
        margin: 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .navbar-icon {
        display: block;
        float: right;
    }

    .navbar-ul {
        display: none;
    }

    .navbar-heading {
        display: flex;
        align-items: center;
        margin-left: 1%;
    }

    .navbar-heading h1 {
        font-size: larger;
        font-weight: bolder;
        color: #00df9a;
        margin: 0;
    }
}

