.navbar-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #000300;
}

.heading {
    color: #00df9a;
    font-size: large;
    font-weight: bold;
    margin-left: 2rem;
    width: 100%;
}

.navbar-ul {
    display: flex;
    list-style-type: none;
}

.navbar-ul li {
    padding: 8px;
}

.navbar-ul-hidden {
    display: none;
}

.nav-icon {
    display: none;
    float: right;
}

.navbar-ul-responsive-show {
    position: fixed;
    left: 0;
    top: 0;
    width: 60%;
    height: 100vh;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: #000300;
    transition: ease-in-out duration-500;
    list-style: none;
    font-size: large;
    box-shadow: 2px 2px 2px 2px rgba(1, 1, 1, 0.2);
}

.navbar-ul-responsive-show li {
    padding: 8px;
    border-bottom: 1px solid grey;

}

.navbar-ul-responsive-show-hidden {
    transition: ease-in-out duration-500;
    position: fixed;
    left: -100%;
}

@media only screen and (max-width: 768px) {
    .navbar-main {
        margin: 0;
    }

    .navbar-ul-responsive-show {
        margin: 0;
    }

    .nav-icon {
        display: block;
        float: right;
    }

    .navbar-ul {
        display: none;
    }

}

@media only screen and (max-width: 576px) {
    .navbar-main {
        margin: 0;
    }

    .navbar-ul-responsive-show {
        margin: 0;
    }

    .nav-icon {
        display: block;
        float: right;
    }

    .navbar-ul {
        display: none;
    }

}